body{
    margin: 0;
}

.header {
    display: flex;
    padding: 10px 25px;
    justify-content: space-between;
    font-family: roboto, sans-serif;
    font-size: large;
    background-image: linear-gradient(to top, #876e69, #684841, #63453e);
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-background{
    /* Set a specific height */
    background-image: url("images/cafe2.jpg");
    min-height: 500px;
    width: 100%;
}

.paralax-background{
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo>img {
    height: 75px;
    width: 75px;
    border-radius: 100%;
}

.navigation {
    display: flex;
    gap: 10px;
    align-items: center;
}

.entry-quote{
    flex: 1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: white;
    background-color: rgba(100, 100, 100, 85%);
    border-radius: 12px;
    margin: 30px;
    padding: 3px 15px;
}

.menu{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to bottom, #876e69, #684841, #54342d);
    padding-bottom: 30px;
}
.menu-items{
    display: flex;
    gap: 50px;
    justify-content: space-evenly;
}
.menu .menu-item{
    display: block;
    background-color: rgba(100, 100, 100, 85%);
    border-radius: 5px;
    width: fit-content;
    text-align: center;
}

.menu a{
    text-decoration: none;
    color: inherit;
}

.menu .menu-item img{
    height: 150px;
    width: 150px;
    border-radius: 5px;
    margin: 0;
}
.menu .menu-item p{
    margin: 0;
}
.menu .title img{
    height: 100px;
    width: 100px;
}

.bottom-quote{
    display: flex;
    background-image: url("images/cafe3.png");
    min-height: 300px;
    margin-top: 0px;
    align-items: center;
}
.bottom-quote p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    padding: 15px;
    margin-inline: 20px;
    color: white;
    background-color: rgba(100, 100, 100, 75%);
    border-radius: 20px;
}